In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

pd.set_option("display.max_columns", 100)
pd.set_option("display.width", 120)

# make plots a bit larger by default
plt.rcParams["figure.figsize"] = (8,4)

In [31]:
df = pd.read_csv("netflix_titles.csv")

In [24]:
print(df.shape)
print(df.dtypes)
print(df.head())
print(df.tail())
print(df.info())
# Uniqueness
print(df.nunique().sort_values(ascending=False))
# Missing Values
df.isna().sum().sort_values(ascending=False)
# Duplicate Values
df.duplicated().sum()

(8807, 12)
show_id         object
type            object
title           object
director        object
cast            object
country         object
date_added      object
release_year     int64
rating          object
duration        object
listed_in       object
description     object
dtype: object
  show_id     type                  title         director                                               cast  \
0      s1    Movie   Dick Johnson Is Dead  Kirsten Johnson                                                NaN
1      s2  TV Show          Blood & Water              NaN  Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...
2      s3  TV Show              Ganglands  Julien Leclercq  Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...
3      s4  TV Show  Jailbirds New Orleans              NaN                                                NaN
4      s5  TV Show           Kota Factory              NaN  Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...

         country          date_added  release_year rating   duration  \
0  United States  September 25, 2021          2020  PG-13     90 min
1   South Africa  September 24, 2021          2021  TV-MA  2 Seasons
2            NaN  September 24, 2021          2021  TV-MA   1 Season
3            NaN  September 24, 2021          2021  TV-MA   1 Season
4          India  September 24, 2021          2021  TV-MA  2 Seasons

                                           listed_in                                        description
0                                      Documentaries  As her father nears the end of his life, filmm...
1    International TV Shows, TV Dramas, TV Mysteries  After crossing paths at a party, a Cape Town t...
2  Crime TV Shows, International TV Shows, TV Act...  To protect his family from a powerful drug lor...
3                             Docuseries, Reality TV  Feuds, flirtations and toilet talk go down amo...
4  International TV Shows, Romantic TV Shows, TV ...  In a city of coaching centers known to train I...
     show_id     type        title         director                                               cast        country  \
8802   s8803    Movie       Zodiac    David Fincher  Mark Ruffalo, Jake Gyllenhaal, Robert Downey J...  United States
8803   s8804  TV Show  Zombie Dumb              NaN                                                NaN            NaN
8804   s8805    Movie   Zombieland  Ruben Fleischer  Jesse Eisenberg, Woody Harrelson, Emma Stone, ...  United States
8805   s8806    Movie         Zoom     Peter Hewitt  Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...  United States
8806   s8807    Movie       Zubaan      Mozez Singh  Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...          India

             date_added  release_year rating   duration                                       listed_in  \
8802  November 20, 2019          2007      R    158 min                  Cult Movies, Dramas, Thrillers
8803       July 1, 2019          2018  TV-Y7  2 Seasons          Kids' TV, Korean TV Shows, TV Comedies
8804   November 1, 2019          2009      R     88 min                         Comedies, Horror Movies
8805   January 11, 2020          2006     PG     88 min              Children & Family Movies, Comedies
8806      March 2, 2019          2015  TV-14    111 min  Dramas, International Movies, Music & Musicals

                                            description
8802  A political cartoonist, a crime reporter and a...
8803  While living alone in a spooky town, a young g...
8804  Looking to survive in a world taken over by zo...
8805  Dragged from civilian life, a former superhero...
8806  A scrappy but poor boy worms his way into a ty...
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8807 entries, 0 to 8806
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8807 non-null   object
 1   type          8807 non-null   object
 2   title         8807 non-null   object
 3   director      6173 non-null   object
 4   cast          7982 non-null   object
 5   country       7976 non-null   object
 6   date_added    8797 non-null   object
 7   release_year  8807 non-null   int64
 8   rating        8803 non-null   object
 9   duration      8804 non-null   object
 10  listed_in     8807 non-null   object
 11  description   8807 non-null   object
dtypes: int64(1), object(11)
memory usage: 825.8+ KB
None
show_id         8807
title           8807
description     8775
cast            7692
director        4528
date_added      1767
country          748
listed_in        514
duration         220
release_year      74
rating            17
type               2
dtype: int64
Duplicate Values

0

In [29]:
df.columns = (df.columns.str.strip().str.lower().str.replace(" ", "_"))
df.columns.tolist()

['show_id',
 'type',
 'title',
 'director',
 'cast',
 'country',
 'date_added',
 'release_year',
 'rating',
 'duration',
 'listed_in',
 'description']